@use 'fonts'as *;
@use 'reset'as *;
@use 'variables'as *;
@use 'mixins'as m; // _mixins.scss 파일이 같은 폴더에 있는 경우

body {
  @include m.font-style(18px, 400, 1);
  background-color: $font-color-navy-950;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include m.mq('tablet') {
    justify-content: center;
  }
}

// 컨텐츠 가운데 정렬 + 최대폭 wrapper. 챌린지마다 max-width 값만 바꿔서 쓴다.
.container {
  @include m.container(1110px, 24px);
}

main {
  width: min(20.4375rem, 100%);
  padding: 1.5rem 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 12.6875rem repeat(6, 1fr);
  grid-template-areas:
    'repoter'
    'work'
    'play'
    'study'
    'exercise'
    'social'
    'self-care';

  row-gap: 1.5rem;

  @include m.mq('tablet') {
    width: min(38.25rem, 100%);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 12.6875rem repeat(2, auto);
    grid-template-areas:
      'repoter repoter repoter'
      'work play study'
      'exercise social self-care';
    gap: 1.5rem;
  }

  @include m.mq('desktop') {
    width: min(69.75rem, 100%);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      'repoter work play study'
      'repoter exercise social self-care';

    gap: 1.5rem;
  }
}

.repoter {
  grid-area: repoter;
  background-color: $font-color-navy-900;
  border-radius: 15px;

  header {
    padding: 2rem;
    background-color: $purple-600;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    @include m.mq('desktop') {
      padding: 2rem 5.3125rem 5.75rem 2rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 2.5rem;
    }

    img {
      width: 100%;
      max-width: 6.4rem;
      height: auto;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border: 3px solid #fff;
      border-radius: 50%;
    }

    .user-info {
      p {
        @include m.font-style(0.9375rem, 400, 1.125rem);
        color: $font-color-navy-200;
      }

      h1 {
        margin-block-start: 8px;
        @include m.font-style(1.5rem, 300, 1.125rem);
        color: $font-color-white;

        @include m.mq('desktop') {
          @include m.font-style(2.5rem, 300, 2.9375rem);
        }
      }
    }
  }

  nav {
    margin-block-start: 1.5rem;

    @include m.mq('desktop') {
      margin-inline-start: 2rem;
    }

    ul {
      display: flex;
      justify-content: space-around;

      @include m.mq('desktop') {
        flex-direction: column;
        gap: 1.3125rem;
      }

      li {
        .filter-item {
          @include m.font-style(1.125rem, 400, 1.3125rem);
          color: $purple-500;
          transition: 0.3s;

          input[type='radio'] {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;

            &:checked+.text {
              color: $font-color-white;
            }
          }

          .text {
            cursor: pointer;
          }

          &:hover {
            color: $font-color-white;
          }
        }
      }
    }
  }
}

.box {
  border-radius: 15px;
  color: #fff;
  position: relative;
  overflow: hidden;

  background-position: top -10px right 17.42px;
  background-repeat: no-repeat;
  background-color: $orange-300;
  background-image: url(../images/icon-work.svg);

  .wrapper {
    grid-row: 2;
    padding: 27.5px 24px;
    margin-block-start: 2.375rem;
    background-color: $font-color-navy-900;
    border-radius: 15px 15px 0 0;

    &:hover,
    &:focus-visible {
      background-color: $font-color-navy-800;
      cursor: pointer;
    }

    @include m.mq('desktop') {
      margin-block-start: 2.8125rem;
    }

    display: grid;
    grid-template-rows: 2.375rem 1fr;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        flex: 1;
        @include m.font-style(1.125rem, 500, 1.3125rem);
        color: $font-color-white;
      }

      img {
        max-inline-size: 100%;
        block-size: auto;
      }
    }

    .stat-content {
      margin-block-start: 0.5rem;
      display: flex;
      align-items: center;

      @include m.mq('tablet') {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
      }

      .hours {
        flex: 1;
        @include m.font-style(2rem, 300, 4.125rem);
        color: $font-color-white;

        strong {
          font-weight: inherit;
        }

        @include m.mq('tablet') {
          @include m.font-style(3.5rem, 300, 4.125rem);
          align-items: flex-start;
        }
      }

      .recently {
        flex: 1;
        @include m.font-style(0.9375rem, 400, 1);
        color: $font-color-navy-200;
        text-align: right;

        strong {
          font-weight: inherit;
        }
      }
    }
  }
}

.work {
  grid-area: work;
}

.play {
  grid-area: play;

  background-color: $blue-300;
  background-image: url(../images/icon-play.svg);
}

.study {
  grid-area: study;
  background-color: $pink-400;
  background-image: url(../images/icon-study.svg);
}

.exercise {
  grid-area: exercise;
  background-color: $green-400;
  background-image: url(../images/icon-exercise.svg);
}

.social {
  grid-area: social;
  background-color: $purple-700;
  background-image: url(../images/icon-social.svg);
}

.self-care {
  grid-area: self-care;
  background-color: $yellow-300;
  background-image: url(../images/icon-self-care.svg);
}

.attribution {
  color: hsl(228, 45%, 44%);
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}